{%- if freifunk_map.name is defined -%}
{% set my_long_name =  freifunk_map.name %}
{%- else -%}
{% set my_long_name =  freifunk.name %}
{%- endif -%}
{%- if freifunk_map.kurzname is defined -%}
{% set my_short_name =  freifunk_map.kurzname %}
{%- else -%}
{% set my_short_name =  freifunk.kurzname %}
{%- endif -%}
{
  "dataPath": [ {% for domain in domaenen|dictsort %}"/data/map_{{ domain[0] }}/"{% if not loop.last %},{% endif %}{% endfor %} ],
  "siteName": "{{my_long_name}}",
  "mapSigmaScale": {{ mapconfig.globalMap.map_scale }},
  "showContact": {{ mapconfig.globalMap.map_show_contact | lower}},
  "maxAge": {{ mapconfig.globalMap.map_max_age }},
{% if "max_goto_zoom" in mapconfig.globalMap %}
  "maxGotoZoom": {{ mapconfig.globalMap.max_goto_zoom }},
{% endif %}
  "mapLayers": [
{% for layer in mapconfig.layers %}
    {
      "name": "{{layer.name}}",
      "url": "{{layer.url}}",
      "config": {
{% for k,v in layer.config|dictsort %}
        "{{k}}": {% if v is number %}{{v}}{% else %}"{{v}}"{% endif %}{% if not loop.last %},{% endif %}

{% endfor %}

      }
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
  "siteNames": [
{% for domaene in domaenen|dictsort %}
    { "site": "{{domaene[1].site_code}}", "name": "Mesh {{domaene[0]}} - {{domaene[1].name}}" }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% if mapconfig.globalInfos is defined %}
  "globalInfos": [
{% for globalInfo in mapconfig.globalInfos %}
    { "name": "{{ globalInfo.name }}",{% if globalInfo.href is defined %}

      "href": "{{ globalInfo.href }}",{% endif %}{% if globalInfo.iframe is defined %}

      "iframe": "{{ globalInfo.iframe }}"{% endif %}{% if globalInfo.thumbnail is defined %}

      "thumbnail": "{{ globalInfo.thumbnail }}"{% endif %}{% if globalInfo.caption is defined %},
      "caption": "{{ globalInfo.caption }}"{% endif %}

    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
{% if mapconfig.nodeInfos is defined %}
  "nodeInfos": [
{% for nodeInfo in mapconfig.nodeInfos %}
    { "name": "{{ nodeInfo.name }}",{% if nodeInfo.href is defined %}

      "href": "{{ nodeInfo.href }}",{% endif %}{% if nodeInfo.iframe is defined %}

      "iframe": "{{ nodeInfo.iframe }}"{% endif %}{% if nodeInfo.thumbnail is defined %}

      "thumbnail": "{{ nodeInfo.thumbnail }}"{% endif %}{% if nodeInfo.caption is defined %},
      "caption": "{{ nodeInfo.caption }}"{% endif %}

    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
{% endif %}
  "hwImg": [
    {
      "thumbnail": "/hwpics/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
  ],
  "eol" : [
    "a5-v11",
    "ap121",
    "ap121u",
    "d-link dir-615",
    "d-link dir-615 d",
    "avm fritz!box 7320",
    "avm fritz!box 7330",
    "avm fritz!box 7330 sl",
    "tp-link tl-mr13u v1",
    "tp-link tl-mr3020 v1",
    "tp-link tl-mr3040 v1",
    "tp-link tl-mr3040 v2",
    "tp-link tl-mr3220 v1",
    "tp-link tl-mr3220 v2",
    "tp-link tl-mr3420 v1",
    "tp-link tl-mr3420 v2",
    "tp-link tl-wa701n/nd v1",
    "tp-link tl-wa701n/nd v2",
    "tp-link tl-wa730re v1",
    "tp-link tl-wa750re v1",
    "tp-link tl-wa801n/nd v1",
    "tp-link tl-wa801n/nd v2",
    "tp-link tl-wa801n/nd v3",
    "tp-link tl-wa830re v1",
    "tp-link tl-wa830re v2",
    "tp-link tl-wa850re v1",
    "tp-link tl-wa860re v1",
    "tp-link tl-wa901n/nd v1",
    "tp-link tl-wa901n/nd v2",
    "tp-link tl-wa901n/nd v3",
    "tp-link tl-wa901n/nd v4",
    "tp-link tl-wa901n/nd v5",
    "tp-link tl-wa7210n v2",
    "tp-link tl-wa7510n v1",
    "tp-link tl-wr703n v1",
    "tp-link tl-wr710n v1",
    "tp-link tl-wr710n v2",
    "tp-link tl-wr710n v2.1",
    "tp-link tl-wr740n/nd v1",
    "tp-link tl-wr740n/nd v3",
    "tp-link tl-wr740n/nd v4",
    "tp-link tl-wr740n/nd v5",
    "tp-link tl-wr741n/nd v1",
    "tp-link tl-wr741n/nd v3",
    "tp-link tl-wr741n/nd v4",
    "tp-link tl-wr741n/nd v5",
    "tp-link tl-wr743n/nd v1",
    "tp-link tl-wr743n/nd v2",
    "tp-link tl-wr840n v2",
    "tp-link tl-wr841n/nd v3",
    "tp-link tl-wr841n/nd v5",
    "tp-link tl-wr841n/nd v7",
    "tp-link tl-wr841n/nd v8",
    "tp-link tl-wr841n/nd v9",
    "tp-link tl-wr841n/nd v10",
    "tp-link tl-wr841n/nd v11",
    "tp-link tl-wr841n/nd v12",
    "tp-link tl-wr841n/nd mod (16m) v11",
    "tp-link tl-wr841n/nd mod (16m) v10",
    "tp-link tl-wr841n/nd mod (16m) v8",
    "tp-link tl-wr841n/nd mod (16m) v9",
    "tp-link tl-wr841n/nd mod (8m) v10",
    "tp-link tl-wr842n/nd v1",
    "tp-link tl-wr842n/nd v2",
    "tp-link tl-wr843n/nd v1",
    "tp-link tl-wr940n v1",
    "tp-link tl-wr940n v2",
    "tp-link tl-wr940n v3",
    "tp-link tl-wr940n v4",
    "tp-link tl-wr940n v5",
    "tp-link tl-wr940n v6",
    "tp-link tl-wr941n/nd v2",
    "tp-link tl-wr941n/nd v3",
    "tp-link tl-wr941n/nd v4",
    "tp-link tl-wr941n/nd v5",
    "tp-link tl-wr941n/nd v6",
    "tp-link tl-wr1043n/nd v1",
    "d-link dir-615 d1",
    "d-link dir-615 d2",
    "d-link dir-615 d3",
    "d-link dir-615 d4",
    "d-link dir-615 h1",
    "ubiquiti nanostation loco m2",
    "ubiquiti nanostation m2",
    "ubiquiti picostation m2",
    "ubiquiti bullet m",
    "ubiquiti bullet m2",
    "ubiquiti airrouter",
    "vocore 8m",
    "vocore 16m",
    "wd my net n600",
    "wd my net n750"
  ],
  "deprecated": [
    "tp-link re305",
    "tp-link re305 v1",
    "tp-link re355",
    "tp-link re355 v1",
    "tp-link re450",
    "tp-link re450 v1",
    "tp-link archer c25 v1",
    "tp-link archer c58 v1",
    "tp-link archer c60 v1",
    "tp-link archer c60 v2",
    "tp-link archer d50",
    "tp-link tl-wr902ac v1",
    "zyxel wre6606"
  ],
{% if mapconfig.deprecationInfo is defined %}
  "deprecation_text": "{{ mapconfig.deprecationInfo.text }}",
  "deprecation_url": "{{ mapconfig.deprecationInfo.url }}",
{% else %}
  "deprecation_text": "Dieses Gerät ist veraltet, bitte ersetzen!",
  "deprecation_url": "https://freifunk-kreisgt.de/firmware/end-of-life-geraete-hintergrund-handlungsempfehlung/",
{% endif %}
{% if mapconfig.eolInfo is defined %}
  "eol_text": "{{ mapconfig.eolInfo.text }}",
  "eol_url": "{{ mapconfig.eolInfo.url }}",
{% else %}
  "eol_text": "Dieses Gerät bekommt KEINE SICHERHEITSUPDATES mehr, bitte dringend ersetzen!",
  "eol_url": "https://freifunk-kreisgt.de/firmware/end-of-life-geraete-hintergrund-handlungsempfehlung/",
{% endif %}
  "dummyentry": "true"
}
