# {{ ansible_managed }}

log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };
{% if router_id is defined %}router id {{ router_id }};{% else %}router id {{ vm_id }};{% endif %}

table ffnet;

### additional configuration  ###
include "/etc/bird/bird.conf.d/*.conf";