{% for host in groups['gateways'] %}
{% if host != inventory_hostname %}
{% if hostvars[host].vm_id is defined %}
{{inventory_hostname}}:{{host}}
{% else %}
# ERROR: {{ host }} is missing vm_id variable ...
{% endif %}
{% endif %}
{% endfor %}
