# {{ ansible_managed }}

# Batman Interface
# - Erstellt das virtuelle Interface fuer das Batman-Modul und bindet dieses, falls L2TP oder Fastd benutzt wird, an die Netzwerkbruecke
# - Die unten angelegte Routing-Tabelle wird spaeter fuer das Routing innerhalb von Freifunk (Router/VPN) verwendet

{% for item in domaenenliste|dictsort %}
auto bat{{item[0]}}
iface bat{{item[0]}} inet static
{% if item[1].server_id is defined %}
        address {{domaenen[item[0]].ffv4_network | ansible.utils.ipaddr(item[1].server_id) | ansible.utils.ipaddr('address') }}
{% else %}
        address {{domaenen[item[0]].ffv4_network | ansible.utils.ipaddr(server_id) | ansible.utils.ipaddr('address') }}
{% endif %}
        netmask {{domaenen[item[0]].ffv4_network | ansible.utils.ipaddr('netmask')}}
{% if item[0] | length > 2 %}
{% if item[1].server_id is defined %}
        hwaddress f2:be:ef:{{item[0][0:2]}}:{{item[0][2:]}}:{{item[1].server_id}}
{% else %}
        hwaddress f2:be:ef:{{item[0][0:2]}}:{{item[0][2:]}}:{{server_id}}
{% endif %}
{% else %}
{% if item[1].server_id is defined %}
        hwaddress f2:be:ef:00:{{item[0]}}:{{item[1].server_id}}
{% else %}
        hwaddress f2:be:ef:00:{{item[0]}}:{{server_id}}
{% endif %}
{% endif %}
        pre-up modprobe batman-adv
        pre-up ip link add bat{{item[0]}} type batadv
        post-up ip link set dev bat{{item[0]}} up
        post-up batctl bat{{item[0]}} it 10000
        post-up batctl bat{{item[0]}} gw server {{batman.downstream}}/{{batman.upstream}}
        post-up batctl bat{{item[0]}} mm 0 ||: # mm does not exist in legacy batman/batctl
{% if tunneldigger is defined or fastd is defined %}
        pre-up ifup br{{item[0]}} ||:
        post-up batctl bat{{item[0]}} if add br{{item[0]}} ||:
{% endif %}
{% for host in groups['gateways'] %}
{% if host != inventory_hostname %}
{% if hostvars[host].domaenenliste is defined %}
{% for item2 in hostvars[host].domaenenliste|dictsort %}
{% if item[0] == item2[0] %}
{% set tunhost = host %}
{% if tunhost|length > 8 %}
{% set tunhost=host[:2]+"-"+host[-5:] %}
{% endif %}
      pre-up ifup t{{item[0]}}-{{tunhost}} ||:
      post-up batctl bat{{item[0]}} if add t{{item[0]}}-{{tunhost}} ||:
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
        post-up ip rule add from all fwmark 0x1 table ffnet pref 16000 ||:
        post-up ip rule add iif bat{{item[0]}} table ffnet pref 16000 ||:
        post-up ip rule add iif lo lookup ffnet suppress_prefixlength 0 pref 16500 ||:
        post-down ip rule del from all fwmark 0x1 table ffnet ||:
        post-down ip rule del iif bat{{item[0]}} table ffnet ||:
        post-down ip rule del iif lo lookup ffnet suppress_prefixlength 0 ||:
        post-down ip link del bat{{item[0]}} ||:

iface bat{{item[0]}} inet6 static
{% if item[1].server_id is defined %}
        address {{domaenen[item[0]].ffv6_network | ansible.utils.ipaddr(item[1].server_id) | ansible.utils.ipaddr('address') }}
{% else %}
        address {{domaenen[item[0]].ffv6_network | ansible.utils.ipaddr(server_id) | ansible.utils.ipaddr('address') }}
{% endif %}
        netmask {{domaenen[item[0]].ffv6_network | ansible.utils.ipaddr('prefix')}}
        post-up ip -6 rule add from all fwmark 0x1 table ffnet pref 16000 ||:
        post-up ip -6 rule add iif bat{{item[0]}} table ffnet pref 16000 ||:
        post-up ip -6 rule add iif lo lookup ffnet suppress_prefixlength 0 pref 16500 ||:
{% if item[1].server_id is defined %}
        post-up ip -6 rule add from {{domaenen[item[0]].ffv6_network | ansible.utils.ipaddr(item[1].server_id) | ansible.utils.ipaddr('address') }} lookup ffnet pref 16000 ||:
{% else %}
        post-up ip -6 rule add from {{domaenen[item[0]].ffv6_network | ansible.utils.ipaddr(server_id) | ansible.utils.ipaddr('address') }} lookup ffnet pref 16000 ||:
{% endif %}
        post-down ip -6 rule del from all fwmark 0x1 table ffnet ||:
        post-down ip -6 rule del iif bat{{item[0]}} table ffnet ||:
        post-down ip -6 rule del iif lo lookup ffnet suppress_prefixlength 0 ||:
{% if item[1].server_id is defined %}
        post-down ip -6 rule del from {{domaenen[item[0]].ffv6_network | ansible.utils.ipaddr(item[1].server_id) | ansible.utils.ipaddr('address') }} lookup ffnet ||:
{% else %}
        post-down ip -6 rule del from {{domaenen[item[0]].ffv6_network | ansible.utils.ipaddr(server_id) | ansible.utils.ipaddr('address') }} lookup ffnet ||:
{% endif %}
{% endfor %}
