# {{ ansible_managed }}

{% for item in groups['hypervisors']|default([]) %}
{% if hostvars[item].is_monitored is defined %}
object Service "CPU load" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check_load"
}

object Service "RAM" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check_ram"
}

object Service "zombie procs" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check_zombie_procs"
}

object Service "Total Procs" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check_total_procs"
}

object Service "Disk" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check_disk"
}

object Service "APT Updates" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check_apt_succesful"
}

object Service "DNSv4 vs. ipv4.google.com" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check-dns4-client"
}

object Service "DNSv6 vs. ipv6.google.com" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check-dns6-client"
}

#object Service "HTTPv4 vs. hetzner.de" {
#  import "generic-service"
#  host_name = "{{ item }}"
#  check_command = "nrpe2"
#  vars.nrpe_command = "check-http4-client"
#}

object Service "v4 Ping vs. google.de" {
  import "generic-service"
  host_name = "{{ item }}"
{% if hostvars[item].nrpe_legacy is defined %}
  check_command = "nrpe-legacy"
{% else %}
  check_command = "nrpe2"
{% endif %}
  vars.nrpe_command = "check-ping-v4"
}

{% endif %}
{% endfor %}
