---
# Role for configure bird and bird6 for our gateway servers.
- name: install bird and other required packets
  apt:
    name: ['bird', 'ipcalc', 'sipcalc', 'bgpq3']
    cache_valid_time: 1800

- name: create folder bird.conf.d
  file:
    path: /etc/bird/bird.conf.d
    state: directory
    mode: 0755

- name: create folder bird6.conf.d
  file:
    path: /etc/bird/bird6.conf.d
    state: directory
    mode: 0755

- name: calculate more specific routes for DHCP pools
  shell: |
    set -o pipefail
    ipcalc {{ domaenenliste[item].dhcp_start }} - {{ domaenenliste[item].dhcp_ende }} | \
    grep -v "deaggregate" | sed -e 's/\(^.*$\)/route \1 via "bat{{ item }}";/g'
  args:
    executable: bash
  check_mode: no
  changed_when: false
  register: more_specific_routes
  with_items: "{{ domaenenliste | default([]) }}"
  when: domaenenliste is defined

- name: configure bird.conf
  template:
    src: bird.conf.j2
    dest: /etc/bird/bird.conf
    owner: bird
    group: bird
  notify:
    - reload bird

- name: configure bird6.conf
  template:
    src: bird6.conf.j2
    dest: /etc/bird/bird6.conf
    owner: bird
    group: bird
  notify:
    - reload bird6

- name: build bgpq3-update-prefix.sh v4
  template:
    src: bgpq3-v4.j2
    dest: /etc/bird/bird.conf.d/bgpq3-update-prefixes.sh
    owner: bird
    group: bird
    mode: 0755
  notify:
    - rebuilt v4 prefixes

- name: build bgpq3-update-prefix.sh v6
  template:
    src: bgpq3-v6.j2
    dest: /etc/bird/bird6.conf.d/bgpq3-update-prefixes.sh
    owner: bird
    group: bird
    mode: 0755
  notify:
    - rebuilt v6 prefixes

- name: configure bird.conf.d/01-internal.conf
  template:
    src: internal.conf.j2
    dest: /etc/bird/bird.conf.d/01-internal.conf
    owner: bird
    group: bird
  notify:
    - reload bird

- name: configure bird6.conf.d/01-internal.conf
  template:
    src: internal6.conf.j2
    dest: /etc/bird/bird6.conf.d/01-internal.conf
    owner: bird
    group: bird
  notify:
    - reload bird6

- name: configure bird.conf.d/02-bgp.conf
  template:
    src: bgp.conf.j2
    dest: /etc/bird/bird.conf.d/02-bgp.conf
    owner: bird
    group: bird
  notify:
    - reload bird

- name: configure bird6.conf.d/02-bgp.conf
  template:
    src: bgp6.conf.j2
    dest: /etc/bird/bird6.conf.d/02-bgp.conf
    owner: bird
    group: bird
  notify:
    - reload bird6

- name: configure bird.conf.d/05-ospf.conf
  template:
    src: ospf.conf.j2
    dest: /etc/bird/bird.conf.d/05-ospf.conf
    owner: bird
    group: bird
  notify:
    - reload bird

- name: configure bird6.conf.d/05-ospf.conf
  template:
    src: ospf6.conf.j2
    dest: /etc/bird/bird6.conf.d/05-ospf.conf
    owner: bird
    group: bird
  notify:
    - reload bird6

- name: create folder for bird.service file
  file:
    path: /etc/systemd/system/bird.service.d
    state: directory
    mode: 0755

- name: bird.service kopieren
  copy:
    src: bird.service
    dest: /etc/systemd/system/bird.service.d/override.conf
  notify:
    - reread systemd configs

- name: create folder for bird6.service file
  file:
    path: /etc/systemd/system/bird6.service.d
    state: directory
    mode: 0755

- name: bird6.service kopieren
  copy:
    src: bird6.service
    dest: /etc/systemd/system/bird6.service.d/override.conf
  notify:
    - reread systemd configs

- name: copy bird4 local configs
  copy:
    src: ../../files/{{inventory_hostname}}/bird4/
    dest: /etc/bird/bird.conf.d/
  when: bgp_router is defined and bgp_sync_files is defined
  notify:
    - reload bird

- name: copy bird6 local configs
  copy:
    src: ../../files/{{inventory_hostname}}/bird6/
    dest: /etc/bird/bird6.conf.d/
  when: bgp_router is defined and bgp_sync_files is defined
  notify:
    - reload bird6
