/* {{ ansible_managed }} */

object UserGroup "freifunk_admins" {
  display_name = "Freifunk-Adminstratoren"
}

{% for item in icinga2.userliste %}
object User "{{ item.user | default(item.email) }}" {
  import "generic-user"
  groups = ["freifunk_admins"]

  display_name = "{{ item.user | default(item.email) }}"
{% if item.email is defined %}
  email = "{{ item.email }}"
{% endif %}
}

{% endfor %}
