# {{ ansible_managed }}

{% if hostvars.wordpressliste is defined %}
{% for fqdn in hostvars.wordpressliste|dictsort %}
object Host "{{ fqdn }}" {
  import "generic-host"
  address = "{{ fqdn }}"
  vars.vhost = "{{ fqdn }}"
  vars.webpage = ["web-homepage"]
  vars.notification["mail"] = {
    groups = ["freifunk_admins"]
  }
  vars.notification["xmpp"] = {
    groups = ["freifunk_admins"]
  }
}

{% endfor %}
{% endif %}
