*** Targets ***

probe = FPing

{% if smokeping_targets is defined %}
menu = Top
title = {{ target_title }}
remark = {{ target_remark }}

{% for target in smokeping_targets %}
+ {{ target.target_group|regex_replace(' ','_')|regex_replace('\.','_') }}

menu = {{ target.target_menu }}
title = {{ target.target_title }}

{% for host in target.target_hosts %}
++ {{ host.target_host_name|regex_replace(' ','_')|regex_replace('\.','_') }}
menu = {{ host.target_host_menu }}
title = {{ host.target_host_title }}
{% if host.target_host_probe is defined %}
probe = {{host.target_host_probe}}
{% endif %}
host = {{ host.target_host_host }}

{% endfor %}
{% endfor %}
{% endif %}

{% if domaenenliste is defined %}
+ Internal_Tunnel_v4
probe = FPing
menu = Internal Tunnel IPv4
title = Cross-Gateway GRE Tunnel

{% for host in groups['gateways']|default([]) %}
{% if host != inventory_hostname %}
++ {{host|regex_replace('-','_')|regex_replace('\.','_')}}
{% if hostvars[host].vm_id < vm_id %}
menu = {{host}}
host = {{ipv4backbone16prefixstr}}{{ hostvars[host].vm_id-1 }}.{{vm_id*2}}
{% else %}
menu = {{host}}
host = {{ipv4backbone16prefixstr}}{{ vm_id-1 }}.{{hostvars[host].vm_id*2+1}}
{% endif %}

{% endif %}
{% endfor %}
{% endif %}

{% if domaenenliste is defined %}
+ Internal_Tunnel_v6
probe = FPing6
menu = Internal Tunnel IPv6
title = Cross-Gateway GRE Tunnel

{% for host in groups['gateways']|default([]) %}
{% if host != inventory_hostname %}
++ {{host}}
{% if hostvars[host].vm_id < vm_id %}
menu = {{host}}
host = {{ipv6backbone64prefixstr}}{{hostvars[host].vm_id}}:{{vm_id}}:1
{% else %}
menu = {{host}}
host = {{ipv6backbone64prefixstr}}{{vm_id}}:{{hostvars[host].vm_id}}:0
{% endif %}

{% endif %}
{% endfor %}
{% endif %}

{% if domaenenliste is defined %}
+ DNS_per_Mesh
menu = DNS per Mesh
title = Reachability of public DNS servers, per Mesh

++ IPv4
menu = DNSv4
title = Public DNS servers via IPv4, per Mesh

{% for item in domaenenliste|dictsort %}
+++ dns_googlev4_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}: dns.google v4
title = Network Graph for dns.google IPv4 from Mesh{{item[0]}}
probe = FPing_Mesh{{item[0]}}
host = 8.8.8.8

{% endfor %}
{% for item in domaenenliste|dictsort %}
+++ one_one_one_onev4_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}: one.one.one.one v4
title = Network Graph for one.one.one.one IPv4 from Mesh{{item[0]}}
probe = FPing_Mesh{{item[0]}}
host = 1.1.1.1

{% endfor %}
{% for item in domaenenliste|dictsort %}
+++ dns9_quad9_netv4_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}: dns9.quad9.net v4
title = Network Graph for dns9.quad9.net IPv4 from Mesh{{item[0]}}
probe = FPing_Mesh{{item[0]}}
host = 9.9.9.9

{% endfor %}

++ IPv6
menu = DNSv6
title = Public DNS servers via IPv6, per Mesh

{% for item in domaenenliste|dictsort %}
+++ dns_googlev6_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}: dns.google v6
title = Network Graph for dns.google IPv6 from Mesh{{item[0]}}
probe = FPing6_Mesh{{item[0]}}
host = 2001:4860:4860::8888

{% endfor %}
{% for item in domaenenliste|dictsort %}
+++ one_one_one_onev6_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}: one.one.one.one v6
title = Network Graph for one.one.one.one IPv6 from Mesh{{item[0]}}
probe = FPing6_Mesh{{item[0]}}
host = 2606:4700:4700::1111

{% endfor %}
{% for item in domaenenliste|dictsort %}
+++ dns9_quad9_netv6_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}: dns9.quad9.net v6
title = Network Graph for dns9.quad9.net IPv6 from Mesh{{item[0]}}
probe = FPing6_Mesh{{item[0]}}
host = 2620:fe::9

{% endfor %}
{% endif %}

{% if domaenenliste is defined %}
+ Updateserver_per_Mesh
menu = Updateserver per Mesh
title = Reachability of our update server, per Mesh

{% for item in domaenenliste|dictsort %}
{% set fwserver = firmware.ipv6.4830.org %}
{% if smokeping_fwserver is defined  %}
{% set fwserver = smokeping_fwserver %}
{% endif %}
++ firmware_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}: {{fwserver}}
title = Network Graph for {{fwserver}} from Mesh{{item[0]}}
probe = FPing6_Mesh{{item[0]}}
host = {{fwserver}}

{% endfor %}
{% endif %}
