*** Targets ***

probe = FPing

{% if smokeping_targets is defined %}
menu = Top
title = {{ target_title }}
remark = {{ target_remark }}

{% for target in smokeping_targets %}
+ {{ target.target_group|regex_replace(' ','_')|regex_replace('\.','_') }}

menu = {{ target.target_menu }}
title = {{ target.target_title }}

{% for host in target.target_hosts %}
++ {{ host.target_host_name|regex_replace(' ','_')|regex_replace('\.','_') }}
menu = {{ host.target_host_menu }}
title = {{ host.target_host_title }}
{% if host.target_host_probe is defined %}
probe = {{host.target_host_probe}}
{% endif %}
host = {{ host.target_host_host }}

{% endfor %}
{% endfor %}
{% endif %}

{% if domaenenliste is defined %}
+ Internal_Tunnel_v4
probe = FPing
menu = Internal Tunnel IPv4
title = Cross-Gateway GRE Tunnel

{% for host in groups['gateways']|default([]) %}
{% if host != inventory_hostname %}
++ {{host|regex_replace('-','_')|regex_replace('\.','_')}}
{% if hostvars[host].vm_id < vm_id %}
menu = {{host}}
host = {{ipv4backbone16prefixstr}}{{ hostvars[host].vm_id-1 }}.{{vm_id*2}}
{% else %}
menu = {{host}}
host = {{ipv4backbone16prefixstr}}{{ vm_id-1 }}.{{hostvars[host].vm_id*2+1}}
{% endif %}

{% endif %}
{% endfor %}
{% endif %}

{% if domaenenliste is defined %}
+ Internal_Tunnel_v6
probe = FPing6
menu = Internal Tunnel IPv6
title = Cross-Gateway GRE Tunnel

{% for host in groups['gateways']|default([]) %}
{% if host != inventory_hostname %}
++ {{host}}
{% if hostvars[host].vm_id < vm_id %}
menu = {{host}}
host = {{ipv6backbone64prefixstr}}{{hostvars[host].vm_id}}:{{vm_id}}:1
{% else %}
menu = {{host}}
host = {{ipv6backbone64prefixstr}}{{vm_id}}:{{hostvars[host].vm_id}}:0
{% endif %}

{% endif %}
{% endfor %}
{% endif %}

{% if domaenenliste is defined %}
+ DNSv6_per_Mesh
probe = FPing6
menu = DNSv6 per Mesh
title = DNSv6 server reachability per mesh

{% for item in domaenenliste|dictsort %}
++ one.one.one.one_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}_one.one.one.one
host = one.one.one.one
sourceaddress = {{domaenen[item[0]].ffv6_network | ipaddr(item[1].server_id) | ipaddr('address') }}

++ dns.google_from_Mesh{{item[0]}}
menu = Mesh{{item[0]}}_dns.google
host = dns.google
sourceaddress = {{domaenen[item[0]].ffv6_network | ipaddr(item[1].server_id) | ipaddr('address') }}

{% endfor %}
{% endif %}
